*{
    margin: 0;
    padding: 0;
}

.fundo {
    background: rgb(40,23,71);
    background: linear-gradient(90deg, rgba(40,23,71,1) 13%, rgba(53,164,176,1) 60%);
    height: 100vh;
    color: #fff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.fundo h1 {
    margin-top:0;
}

.calculadora {
    position: absolute;
    background-color:rgba(0, 0 , 0, 0.87);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
    color: #fff;
}

.botao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31,31,31);
    border: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.botao:hover {
    background-color: #778899;
}

#resultado {
    width: 214px;
    height: 30px;
    margin: 5px;
    background-color: #fff;
    font-size: 30px;
    color: black;
    text-align: right;
    padding: 5px;

}