*{
    margin: 0;
    padding: 0;
}

body{
    background-image: linear-gradient(to right bottom, #351351, #5f235f, #86376b, #ab4e75, #cd697f);
}

.fundo {
    height: 100vh;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 900;
}

.textoprincipal {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.textosecundario {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 800;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.calculadora {
    position: absolute;
    background-color:rgba(0, 0 , 0, 0.87);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    padding: 15px;
    color: #fff;
}

.botao {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    margin: 3px;
    background-color: rgb(31,31,31);
    border: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.botao:hover {
    background-color: #778899;
}

#resultado {
    width: 214px;
    height: 30px;
    margin: 5px;
    background-color: #fff;
    font-size: 30px;
    color: black;
    text-align: right;
    padding: 5px;
    overflow-x: hidden;
    overflow-y: hidden;
}
